html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    color: #000;
    background: #fff;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    overflow-y: auto;
    position: relative;
}

html * {
    outline: none;
    user-select: none;
    box-sizing: border-box;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/*flex box*/

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ellipsis-row-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ellipsis-row-2 {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.margin-10 {
    margin: 10px 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-20 {
    margin: 20px 0;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.border-radius-50 {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f6f6f6;
}

.qwe {
    border: 1px solid red;
}

.qwee {
    border: 1px solid green;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active for below version 2.1.8 */
    {
    transform: translateX(10px);
    opacity: 0;
}


// ::-webkit-scrollbar — 整个滚动条.
// ::-webkit-scrollbar-button — 滚动条上的按钮 (上下箭头).
// ::-webkit-scrollbar-thumb — 滚动条上的滚动滑块.
// ::-webkit-scrollbar-track — 滚动条轨道.
// ::-webkit-scrollbar-track-piece — 滚动条没有滑块的轨道部分.
// ::-webkit-scrollbar-corner — 当同时有垂直滚动条和水平滚动条时交汇的部分.
// ::-webkit-resizer — 某些元素的corner部分的部分样式(例:textarea的可拖动按钮).

::-webkit-scrollbar {
    width: 7px;
    // background: #fff;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(196, 193, 192, .5);
}